{% from 'components/btn_external.jinja' import btn_external %}

<footer class="flex z-10 flex-col gap-4 p-4 mt-12 w-full bg-background">
    <div class="py-4 w-full h-full rounded-2xl border border-foreground/20">
        <div class="mx-auto space-y-4 w-fit">
            <div class="flex flex-wrap gap-1 justify-center">
                <span>Made with love by</span>
                {{ btn_external(url="https://github.com/davidperez95", text="David Perez") }}
                <span>and</span>
                <span>
                    {{ btn_external(url="https://github.com/and-rs", text="Andres Bautista") }}
                    ❤️
                </span>
            </div>
            <hr class="text-foreground/20" />
            <div class="mx-auto leading-5 w-fit">
                <p class="text-muted-foreground">© 2025 Trepa Cerros. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
