<footer class="flex flex-col justify-center items-center w-full h-40 border-t">
    <p>
        Made with love By <a href="https://github.com/davidperez95"
    class="font-semibold text-teal-700 hover:underline">David Perez</a> and <a href="https://github.com/and-rs"
    class="font-semibold text-teal-700 hover:underline">Andres Bautista</a> ❤️
    </p>
    <p>© {{ year }} Trepa Cerros. All rights reserved.</p>
</footer>
