{% from 'components/btn_link.jinja' import btn_link %}
{% from 'components/btn_icon.jinja' import btn_icon %}

<header class="flex justify-around items-center py-12 w-full h-16 border-b border-gray-300">
    <a href="/" class="text-2xl font-bold">Trepa Cerros</a>

    <div class="hidden gap-10 md:flex">
        {{ btn_link(url="/about", text="Nosotros") }}
        {{ btn_link(url="/walks", text="Destinos") }}
        {{ btn_link(url="/blog", text="Blog") }}
    </div>

    <div class="flex gap-3">
        {{ btn_icon(url="https://www.instagram.com/trepacerros_col",
                aria="Instagram", icon_path="/static/assets/instagram.svg") }}

        {{ btn_icon(url="https://.example.com",
                aria="TikTok", icon_path="/static/assets/tiktok.svg") }}

        {{ btn_icon(url="https://chat.whatsapp.com/L1fkyAW5Nd6KUGcdDyAY9D?mode=ac_t",
                aria="WhatsApp", icon_path="/static/assets/whatsapp.svg") }}
    </div>
</header>
