{% from 'components/btn_link.jinja' import btn_link %}
{% from 'components/btn_icon.jinja' import btn_icon %}

<header class="fixed top-0 z-10 p-4 w-full">
    <div class="flex flex-row flex-wrap gap-3 justify-between items-center py-4 px-6 rounded-2xl border sm:px-8 bg-background/80 backdrop-blur-2xl border-foreground/20">
        {{ btn_link(url="/", text="Trepa Cerros", class="text-3xl font-medium tracking-tight") }}

        <div class="flex gap-10">
            {{ btn_link(url="/about", text="Nosotros") }}
            {{ btn_link(url="/walks", text="Destinos") }}
            {{ btn_link(url="/blog", text="Blog") }}
            {{ btn_link(text="Iniciar Sesión", url="/") }}
        </div>

        <!-- <button class="flex justify-center items-center rounded-md transition-colors duration-200 md:hidden size-10"
         -->
        <!--         aria-controls="mobile-modal" -->
        <!--         hx-get="/toggle-mobile-modal" -->
        <!--         hx-target="#toggle-box" -->
        <!--         hx-swap="innerHTML transition:true"> -->
        <!---->
        <!--     <svg class="size-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"> -->
        <!--         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /> -->
        <!--     </svg> -->
        <!--     <span class="sr-only">Menú</span> -->
        <!-- </button> -->

        <!-- {% block mobile_modal %} -->
        <!--     {% include "partials/mobile-modal.jinja" %} -->
        <!-- {% endblock mobile_modal %} -->

    </div>
</header>
