{% extends 'base.jinja' %}
{% block content %}
    <div class="p-8 text-center">
        <h1 class="mb-4 text-5xl font-bold">Nosotros</h1>
        <h2 class="text-xl">¿Quiénes Somos?</h2>
    </div>
{% endblock content %}
