{% extends 'base.jinja' %}
{% block content %}
    <div class="text-center">
        <h1 class="text-xl font-bold">Nosotros</h1>
        <h2 class="text-xl">¿Quiénes Somos?</h2>
    </div>
{% endblock content %}
