{% from 'components/btn_link.jinja' import btn_link %}

{% extends 'base.jinja' %}
{% block content %}
    <section class="relative w-full">

        <img src="/static/images/forest.jpg"
             class="object-cover w-screen h-screen"
             loading="lazy">

        <div class="absolute bottom-0 py-24 px-8 space-y-8 w-full to-95% from-40% via-80% via-background/50 bg-gradient-to-t to-transparent from-background">
            <h1 class="text-foreground/90">Mente Plena y Montaña</h1>
            <p class="max-w-3xl text-2xl">
                En Trepa Cerros organizamos caminatas y travesías para quienes aman la montaña tanto como nosotros. Nos enfocamos en brindar experiencias seguras, grupales y transformadoras en contacto con la naturaleza.
            </p>
            {{ btn_link(url="/walks", text="Ver Destinos", class="btn-primary", show_span=false) }}
        </div>

        <!-- <div id="carousel" -->
        <!--      hx-get="/carousel" -->
        <!--      hx-trigger="load, every 1s" -->
        <!--      hx-swap="innerHTML" -->
        <!--      class="overflow-hidden w-full h-screen border-2 border-red-400 aspect-video"> -->
        <!-- </div> -->
    </section>
{% endblock content %}
