{% extends 'base.jinja' %}

{% block content %}
    <div class="flex flex-col justify-center items-center max-w-xl h-content">

        {% for walk in walks %}
            <div class="flex flex-col pb-8 border-b border-gray-300">

                <div class="flex gap-16 justify-around items-center py-8 px-8">
                    <h1 class="pl-8 text-5xl font-bold">{{ walk.name }}</h1>
                    <p class="px-8 text-balance">{{ walk.description }}</p>
                </div>

                <div class="grid grid-cols-3 gap-8 py-8 px-8">
                    <div class="flex flex-col items-center text-center">
                        <h2 class="font-semibold mb-2">Duración</h2>
                        <p class="text-balance">{{ walk.info.duration }}</p>
                    </div>
                    <div class="flex flex-col items-center text-center">
                        <h2 class="font-semibold mb-2">Distancia</h2>
                        <p class="text-balance">{{ walk.info.length }}</p>
                    </div>
                    <div class="flex flex-col items-center text-center">
                        <h2 class="font-semibold mb-2">Dificultad</h2>
                        <p class="text-balance">{{ walk.info.difficulty }}</p>
                    </div>
                    <div class="flex flex-col items-center text-center">
                        <h2 class="font-semibold mb-2">Altitud</h2>
                        <p class="text-balance">{{ walk.info.height }}</p>
                    </div>
                    <div class="flex flex-col items-center text-center">
                        <h2 class="font-semibold mb-2">Ascenso</h2>
                        <p class="text-balance">{{ walk.info.elevation }}</p>
                    </div>
                    <div class="flex flex-col items-center text-center">
                        <h2 class="font-semibold mb-2">Precio</h2>
                        <p class="text-balance">{{ walk.info.price }}</p>
                    </div>
                </div>

                <div class="flex justify-around items-center gap-4">
                    {% for image in walk.images %}
                        <div class="overflow-hidden rounded-3xl w-96 h-96">
                            <img src={{ image }} alt="Sutatausa" class="object-cover w-full h-full">
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}

    </div>
{% endblock content %}

