{% macro btn_link(text, url, hxTarget="#content") %}
    <a class="inline-block text-black cursor-pointer font-medium"
       hx-target="{{ hxTarget }}"
       hx-push-url="true"
       hx-get="{{ url }}">{{ text }}</a>
{% endmacro %}
