{% macro btn_link(text, url, hxTarget="#content", class="text-lg font-medium", show_span=True) %}
    <div class="inline-block relative cursor-pointer group">
        <a class="{{ class }}"
           hx-target="{{ hxTarget }}"
           hx-push-url="true"
           hx-get="{{ url }}">{{ text }}
            {% if show_span %}
                <span class="absolute bottom-0 left-0 w-0 h-0.5 transition-all duration-300 group-hover:w-full bg-primary"></span>
            {% endif %}
        </a>
    </div>
{% endmacro %}
